@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css or styles.scss */
@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 0.5s linear;
  background: rgba(194, 192, 192, 0.459);
}
