@tailwind base;
@tailwind components;
@tailwind utilities;


/* Webkit-based browsers */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #aca8a8dc;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #232323;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  